<!DOCTYPE html>
<html>
<head>
    <title> COVID Statistics </title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Welcome to COVID Statistics</h1>
    <a href="/page1" class="button"> Monthly Covid Statistics 2021 </a>
    <a href="/page2" class="button"> Monthly evolution since 2020 </a>
    <a href="/page3" class="button">Go to Page 3</a>
</body>
</html>
